<div class="modal-header">
    <h3 class="modal-title">Add a tag or attribute</h3>
</div>
<div class="modal-body">
    <div class="form-row">
        <label>Tag</label>
        <input ng-model="tag" type="text" class="form-control" maxlength="255" placeholder="Ex: humidity" title="Tag">
    </div>
    <h5>or</h5>
    <div class="form-row">
        <label>Attribute</label>
        <input ng-model="attribute" type="text" class="form-control" maxlength="255" placeholder="Ex: thermostat" title="Attribute">
        <span class="colon"> : </span>
        <input ng-model="value" type="text" class="form-control" maxlength="255" placeholder="Ex: 5" title="Value">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Confirm</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>
