<button class="sample-graph" data-series="data1">3 Series</button>
<button class="sample-graph" data-series="data2">Random with high peaks</button>
<button class="sample-graph" data-series="data3">Random with inconsistent sample frequencies</button>
<button class="sample-graph" data-series="data4">JSON date parsing</button>
<button class="tempodb-graph">TempoDB webservice</button>
<input id="tempodb-series-key" type="text" value="my-random-key" />
<div id="chart" class='with-3d-shadow with-transitions'>
  <svg style="height: 500px;"></svg>
</div>
