<%= form_tag uploads_path, html: {method: :create}, multipart: true do |f| %>
    <div class="form-group">
      <label>File input</label>
      <%= file_field_tag :csv %>
    </div>
    <div class="form-group">
      <label>Series name (optional)</label>
      <%= text_field_tag :series_name, nil, placeholder: 'sensor1-temperature', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag "Upload file", class: "btn btn-primary" %>
    </div>
<% end %>
