// Placeholders

%batch-expand-animation {
  @include vp(animation, expand .15s $cubic-in);
}

%batch-retract-animation {
  @include vp(animation, retract .12s $cubic-out forwards);
}


// Keyframes

@include keyframes(retract) {
  0% {
    opacity: 1;
    @include vp(transform, translate3d(0, 0, 0));
  }
  20% {
    opacity: 0.2;
  }
  50% {
    height: 50%;
  }
  90% {
    @include vp(transform, translate3d(0, -20%, 0));    
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@include keyframes(expand) {
  0% {
    opacity: 0;
    @include vp(transform, translate3d(0, -10%, 0));
  }
  20% {
    opacity: 0;
    height: 80%;    
  }
  50% {
    height: 50%;
  }
  100% {
    opacity: 1;
    @include vp(transform, translate3d(0, 0, 0));
    height: auto;
  }
}

@include keyframes(editShow) {
  0% {
    height: 0;
    opacity: 0;
    padding-left: 0;
  }
  20% {
    @include rem(height, 6.625rem);
    opacity: 0;
    padding-left: 0;
  }
  100% {
    @include rem(height, 6.625rem);
    opacity: 1;
    padding-left: 2em;
  }
}

@include keyframes(editHide) {
  0% {
    @include rem(height, 6.625rem);
    opacity: 1;
    padding-left: 2em;
    margin-left: 0;
  }  
  20% {
    @include rem(height, 6.625rem);
    opacity: 1;
    padding-left: 0;
  }  
  30% {
    @include rem(height, 2rem);
    opacity: 1;
    padding-left: 0;
  }
  100% {
    height: 0;
    opacity: 0;
    padding-left: 0;
  }
}

@include keyframes(editOptionsHide) {
  0% {
    margin-left: 0;
    opacity: 1;
  }  
  100% {
    margin-left: -3em;
    opacity: 0;
  }
}





