%input-reset {
  box-shadow: none;
  background-color: rgba($interface_color, 0.05);
  border: 1px solid rgba($interface_color, 0.1);
  padding: $baby $gamma;
  font-family: $primary_font_family;
  color: $font_color;
  font-size: $normal;
  outline: none;

  &:hover {
    border: 1px solid rgba($interface_color, 0.5);
  }

  &:active {
    outline: none;
    border: 1px solid rgba($highlight_color, 0.8);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba($highlight_color, 0.8);
  }

}

%button-reset {
  @extend %input-reset;
  @include pad($baby/2 $baby);
  @include rem(font-size, $baby);

  &:hover {
    cursor: pointer;
  }

}

%button-delete {
  @extend %button-reset;
  outline: 0;
  margin: 0;
  padding: 0;
  margin-left: 1em;
  display: inline-block;
  background: transparent;
  border: none;
  @extend %icon-font__x;
  &::before {
    opacity: 0.5;
    margin-right: 1em;
  }
  &:hover {
    border: none;
    &::before {
      opacity: 1;
    }
  }
}

.button-delete {
  @extend %button-delete;
  &::before {
    opacity: 0.2;
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  // }
  &:hover {
    // &::after {
    //   content: "Cancel";
    // }
  }
}

.button-save {
  @extend %button-delete;
  @extend %icon-font__check;
  // &::after {
  //   content: "";
  //   position: absolute;
  // }
  &:hover {
    // &::after {
    //   content: "Save";
    // }
  }
}





