<h2 class="ui header"><%= chart.name %></h2>
<div class="ui segment">
  <div id="<%= chart.name.parameterize %>" class="chart with-3d-shadow with-transitions"
    data-source-url="<%= chart.dataset_url %>">
    <svg style="height: 500px;"></svg>
  </div>
</div>