// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart {

  .line {
    stroke: red;
    fill: none;
  }

  .zoom {
    stroke-width: 1pt;
  }

  .axis {
    opacity: 0.7;
  }
  
  .axis line, path.domain, .legend text {
    fill: none;
    stroke: white;
  }

  .axis text {
    fill: white;
  }

  .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
  }

  .legend {
    cursor: pointer;
  }
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
