<section class="data-sets">
  <!-- Current Data Set -->
  <!-- Current Data Set Title -->
  <ul class="data-sets__list" tabs>
    <li class="data-sets__item" ng-repeat="data_set in data_sets" ui-sref="data-sets.single({ dataSetId: data_set.id })" ui-sref-active="is-current" ng-mouseenter="mouseEnterTitle(data_set)" ng-mouseleave="mouseLeaveTitle(data_set)">
      <h3 class="data-sets__item-title" ng-if="!data_set.editing" ng-bind="data_set.title"></h3>
      <section class="data-sets__item-options" ng-if="data_set.hover">
        <i class="data-sets__icon-edit" ng-click="editDataSet(data_set)"></i>
        <i class="data-sets__icon-hide" ng-click="hideDataSet(data_set)"></i>
      </section>
    </li>
    <li class="data-sets__item-overflow" ng-init="overflow_hide = true" ng-click="overflow_hide = !overflow_hide ">...</li>    
    <li class="data-sets__item-new">
      <h3 class="data-sets__item-title new" ng-click="newDataSet()"></h3>
    </li>
  </ul>
</section>
<ul class="data-sets__overflow-items" ng-hide="overflow_hide">
  <li class="data-sets__overflow-item">Fake Dataset</li>
  <li class="data-sets__overflow-item">Another Dataset</li>
  <li class="data-sets__overflow-item">Last Dataset</li>
</ul>
<section class="data-sets__edit" ng-if="states.is_editing">
  <section class="data-sets__edit-options">
    <label for="renameDataSet" class="data-sets__edit-title-label">Rename Data Set</label>
    <input id="renameDataSet" class="data-sets__edit-title" ng-model="edit_data_set.title">
    <button class="data-sets__edit-action save" ng-click="saveEdit()">Save</button>
    <button class="data-sets__edit-action cancel" ng-click="hideEdit()">Cancel</button>
  </section>
  <span class="data-sets__edit-delete">Delete Data Set</span>
</section>
<section class="notifications" ng-controller="AlertController" ng-include="'assets/sciview/partials/notifications.html'"></section>
<section class="discussion" ng-include="'assets/sciview/partials/discussion-tab.html'"></section>
<section ui-view class="data-set">
</section>
