<section class="data-sets">
  <!-- Current Data Set -->
  <!-- Current Data Set Title -->
  <ul class="data-sets__list" tabs>
    <li class="data-sets__item" ng-repeat="data_set in data_sets" ui-sref="data-sets.single({ dataSetId: data_set.id })" ng-dblclick="editDataSet(data_set)" ui-sref-active="is-current">
      <h3 class="data-sets__item-title" ng-if="!data_set.editing" ng-bind="data_set.title"></h3>
      <section class="edit-title" ng-if="data_set.editing">
        <input class="data-sets__item-title-edit" type="text" ng-model="data_set.title">
        <button class="button-save" ng-click="data_set.editing = false">Save</button>
        <button class="button-delete" ng-click="data_set.editing = false">Cancel</button>
      </section>
    </li>    
    <li class="data-sets__item">
      <h3 class="data-sets__item-title new" ng-click="newDataSet()">New</h3>
    </li>
  </ul>
</section>
<section class="notifications" ng-controller="AlertController" ng-include="'assets/sciview/partials/notifications.html'"></section>
<section class="discussion" ng-include="'assets/sciview/partials/discussion-tab.html'"></section>
<section ui-view class="data-set">
</section>
