<section class="form">
  <i class="form-exit"></i>
  <section class="form-container">
    <h2 class="form-heading">Log In</h2>
    <aside class="form-alternate">If you don't have an account you can <a class="form-option--link" ui-sref="signup">Sign Up</a></aside>
    <form class="form-element">
      <label for="email" class="form-label">Email</label>
      <input id="email"  type="email" class="form-input">
      <label for="password" class="form-label">Password</label>
      <input id="password" type="password" class="form-input is-error">
      <span class="form-message--error">Password is not valid</span>
      <input type="submit" class="form-input--submit" value="Submit">
    </form>
  </section>
</section>