<li class="channel__meta-item"
    ng-repeat="tag in seriesData.tags"
    ng-mouseover="remove_hover = true"
    ng-mouseleave="remove_hover = false">
    <span>{{tag}}</span>
    <button class="channel__meta-item-remove" 
            ng-click="removeTagView(tag)"
            ng-if="remove_hover">
    </button>
</li>
<li class="channel__meta-item"
    ng-mouseover="remove_hover = true"
    ng-mouseleave="remove_hover = false"
    ng-repeat="attribute in seriesData.attributes">
    <span class="channel__meta-item-key">{{attribute.key}}</span>
    <span class="channel__meta-item-value">{{attribute.value}}</span>
    <button class="channel__meta-item-remove" 
            ng-click="removeAttrView(attribute)"
            ng-if="remove_hover">
    </button>
</li>
<li class="channel__meta-item-new">
    <span class="channel__meta-add" ng-class="{'is-active': newMetadata.showForm}" ng-click="newMetadata.showForm = true"><i class='fa fa-plus'></i> Add Meta Data</span>
    <section class="channel__meta-item-input" ng-if="newMetadata.showForm">
      <form ng-submit="saveMetaChannel(channel, meta)">
        <input class="channel__meta-item-new-tag"
               type="text"
               ng-model="newMetadata.tag"
               placeholder="Add a tag">
        <span class="channel__meta-item-split">or</span>
        <fieldset class="channel__meta-item-pair">
            <input class="channel__meta-item-new-key"
                   type="text"
                   ng-model="newMetadata.attribute"
                   placeholder="Add a Key/Value">
            <input class="channel__meta-item-new-value"
                   type="text"
                   ng-model="newMetadata.value">
        </fieldset>

        <a class="channel__meta-item-close" ng-click="newMetadata.showForm = false">Close </a>
        <button class="channel__meta-item-save">Save</button>
      </form>
    </section>
</li>

<section class="channel__meta-remove-view" ng-if="deleteMeta.remove_screen">
  <button class="channel__meta-remove-delete" ng-click="hideRemoveView()"></button>
  <span  class="channel__meta-remove-info">Are you sure you want to remove <span class="channel__meta-remove-tag" ng-if="!deleteMeta.is_attr" ng-bind="deleteMeta.selected_tag"></span><span class="channel__meta-remove-tag" ng-if="deleteMeta.is_attr" ng-bind="deleteMeta.selected_attr"></span>?</span>
  <button class="channel__meta-remove-yes" ng-if="!deleteMeta.is_attr" ng-click="removeTag(deleteMeta.selected_tag)">Yes</button>
  <button class="channel__meta-remove-yes" ng-if="deleteMeta.is_attr" ng-click="removeAttribute(deleteMeta.selected_key)">Yes</button>
  <button class="channel__meta-remove-no" ng-click="hideRemoveView()">No</button>
</section>

<section class="channel__meta-remove-flash" ng-show="deleteMeta.remove_flash">
  <span>Removed</span>
</section>





