<div ng-repeat="series in seriesList">
    <h3>{{series.key}} Tags and Attributes</h3>
    <button type="button" class="btn btn-sm btn-primary" ng-click="addMetadata(series)">New</button>
    <span ng-repeat="tag in series.tags">
        <button class="btn btn-sm btn-default" ng-click="removeTag(series, tag)">{{tag}}</button>
    </span>
    <span ng-repeat="(key, value) in series.attributes">
        <button class="btn btn-sm btn-default" ng-click="removeAttribute(series, key)">{{key}}:{{value}}</button>
    </span>
</div>