// Modules
// - Views
// -- Data Sets

.data-sets {
  @include span-columns(6);
  position: fixed;
}

.data-sets__list {
  @extend %ul-reset;
  @extend %monospaced-style;
}

.data-sets__item {
  float: left;
  display: inline-block;
  background-color: rgba($interface_color, 0.025);
  color: rgba($font_color, 0.3);
  padding: $normal $beta;

  &:hover {
    background-color: rgba($interface_color, 0.05);
    color: rgba($font_color, 0.7);
    cursor: pointer;
  }
}

.data-sets__item-title.new {
  @extend %icon-font__add-data-set;
  &::before {
    margin-right: 1em;
  }
}

.data-set {
  @include rem(top, 2.8rem);
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

.data-set__current {
  @include span-columns(12);
  position: absolute;
  top: 0;
  bottom: $alpha*3;
}

.batches {
  padding-bottom: $alpha*3;
  height: 100%;
  overflow-y: scroll;
}

.data-sets__item-title-edit {
  margin: 0;
  margin-top: -.5em;
  padding: .2em 1em;
  background-color: transparent;
  border: 1px solid $highlight_color;
  font-family: $mono_font_family;
  outline: 0;
  @include rem(font-size, $normal);
  color: $white;
}
