// Modules
// - Views
// -- Data Sets

.data-sets {
  // @include span-columns(6);
  position: fixed;
}

.data-sets__list {
  @extend %ul-reset;
  @extend %monospaced-style;
}

.shrink {
  .data-sets__item {
    @include rem(width, 6rem);
  }
}


.data-sets__item {
  @include rem(width, 8rem);
  @include rem(height, 3rem);
  @include rem(font-size, $normal);
  white-space: nowrap;
  overflow: hidden;
  float: left;
  display: inline-block;
  background-color: rgba($background-color, 1);
  color: rgba($font_color, 0.3);
  padding: 1.15em 1em;
  border: 1px solid rgba($white, 0.3);
  border-bottom: none;
  border-left: none;

// Gradient for fading long names
  &::after {
    content: "";
    @include linear-gradient(to right, rgba($background-color, 0) 0%, rgba($background-color, 1) 50%, rgba($background-color, 1)100%);
    width: 2em;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background-color: $color-bgLight;
    &::after {
      @include linear-gradient(to right, rgba($color-bgLight, 0) 0%, rgba($color-bgLight, 1) 50%, rgba($color-bgLight, 1)100%);
    }
    color: rgba($font_color, 1);
    cursor: pointer;
  }
}

.data-sets__item-title.new {
  @extend %icon-font__add-data-set;
  text-align: center;
  font-family: $primary_font_family;
  &::before {
    margin-right: 1em;
  }
}

.data-sets__item-options {
  @include rem(width, 4rem);
  position: absolute;
  @include linear-gradient(to right, rgba($background-color, 0) 0%, rgba($background-color, 0.7) 20%, rgba($background-color, 1)100%);
  right: 0;
  height: 100%;
  top: 0;
  z-index: 3;
  text-align: right;
  padding-right: 1em;
}

.data-set {
  @include rem(top, 3rem);
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

.data-set__current {
  @include span-columns(12);
  position: absolute;
  top: 0;
  bottom: $alpha*3;
  background-color: $color-bgLight;
}

.batches {
  padding-bottom: $alpha*3;
  height: 100%;
  overflow-y: scroll;
}

.data-sets__edit {
  @include vp(animation, editShow .3s ease forwards);
  @include rem(height, 6.625rem);
  @include pad(1em);
  position: absolute;
  top: 3rem;
  z-index: $z-index-kilo;
  background-color: rgba($color-bgLight, 0.95);
  width: 100%;
  border-bottom: 1px solid ($font-color, 0.1);
}

.data-sets__edit.ng-leave {
  @include vp(animation, editHide .2s .05s $cubic-out forwards);
  .data-sets__edit-options {
    @include vp(animation, editOptionsHide .1s ease forwards);
  }
}

.data-sets__edit-title {
  margin: 0;
  margin-top: -.5em;
  padding: .2em 1em;
  background-color: transparent;
  border: 1px solid $highlight_color;
  font-family: $mono_font_family;
  outline: 0;
  @include rem(font-size, $normal);
  color: $white;
  margin-bottom: 1em;
}

.data-sets__edit-title-label {
  @include rem(font-size, $baby);
  display: block;
  // opacity: 0.3;
  margin-bottom: 1em;
}

.data-sets__edit-delete {
  display: block;
  @include rem(font-size, $baby);
  opacity: 0.5;
  @extend %icon-font__x;
  &::before {
    @include rem(font-size, 0.4rem);
    margin-right: 1em;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.data-sets__edit-actions {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

.data-sets__edit-action {
  @include rem(font-size, $baby);
  background-color: rgba($background-color, 0.3);
  padding: 0 6em;
  color: $font-color;
  border: none;
  outline: 0;
  display: inline;
  height: 100%;
  width: 50%;
  margin: 0;
  float: left;
  &:before {
    @include rem(font-size, .4rem);
    opacity: 0.3;
    margin-right: 1em;
  }
  
  &:hover {
    cursor: pointer;
    background-color: rgba($background-color, 0.7);
  }

  &.cancel {
    @extend %icon-font__x;
    opacity: 0.3;
    &:hover {
      background-color: rgba($color-bgLight, 0.7);
    }
  }

  &.save {
    @extend %icon-font__download;
  }
}





