.discussion {
  @include span-columns(1);
  @include shift(11);
  height: 100%;
  position: absolute;
  z-index: $z-index-kilo;
}

%discussion__tab {
  position: absolute;
  top: -$alpha;
  right: 0;
  background-color: rgba($interface_color, 0.03);
  width: $alpha;
  height: $alpha;

  &::before {
    @extend %hover-ready;
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    @include vp(transform, translateY(-50%));  
  }

  &:hover {
    &::before {
      @extend %hover-go;
    }
  }
}

.discussion__cta-open {
  @extend %discussion__tab;
  &::before {
    content: asset-url('discussion.svg');
  }
}

.discussion__tab--notification {
  display: block;
  position: absolute;
  right: $baby;
  top: -$alpha + $baby;
  border-radius: .5rem;
  width: .5rem;
  height: .5rem;
  background-color: $notification_color;
}

.discussion__interface {
  @include span-columns(12);
  position: absolute;
  right: 0;
  // height: 100%;
  background-color: rgba(darken($background_color, 5%), 0.9);
}

.discussion__cta-close {
  @extend %discussion__tab;
  &::before {
    content: asset-url('x.svg');
  }
}









