.discussion {
  @include span-columns(1);
  @include shift(11);
  height: 100%;
  position: absolute;
  z-index: $z-index-kilo;
}

.discussion__bubble {
  @extend %icon-font__discuss;
  position: absolute;
  right: 1em;
  top: 0;
  background-color: rgba($white, 0.03);
  height: 2.8125rem;
  width: 2.8125rem;
  &:before {
    position: absolute;
    top: 0.8em;
    left: 1em;
  }
  &::after {
    content: "";
    width: .3em;
    height: .3em;
    border-radius: 50%;
    background-color: $notification_color;
    display: block;
    position: absolute;
    top: 0.8em;
    left: 1.7em;
  }
  // opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

// %discussion__tab {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   background-color: rgba($interface_color, 0.03);
//   width: $alpha;
//   height: $alpha;

//   &::before {
//     @extend %hover-ready;
//     position: relative;
//     display: block;
//     text-align: center;
//     top: 50%;
//     @include vp(transform, translateY(-50%));  
//   }

//   &:hover {
//     &::before {
//       @extend %hover-go;
//     }
//   }
// }

// .discussion__cta-open {
//   @extend %discussion__tab;
//   &::before {
//     content: asset-url('discussion.svg');
//   }
// }

// .discussion__tab--notification {
//   display: block;
//   position: absolute;
//   right: $baby;
//   top: -$alpha + $baby;
//   border-radius: .5rem;
//   width: .5rem;
//   height: .5rem;
//   background-color: $notification_color;
// }

// .discussion__interface {
//   @include span-columns(12);
//   position: absolute;
//   right: 0;
//   // height: 100%;
//   background-color: rgba(darken($background_color, 5%), 0.9);
// }

// .discussion__cta-close {
//   @extend %discussion__tab;
//   &::before {
//     content: asset-url('x.svg');
//   }
// }









