<section class="tools__readout">
  <span class="tools__readout-channel"  ng-bind="globalChannel.title"> </span>
  <span class="tools__readout-value"    ng-bind="globalChannel.value"> </span>
  <span class="tools__readout-category" ng-bind="globalChannel.category"> </span>
  <span class="tools__readout-unit"     ng-bind="globalChannel.unit"> </span>
</section>

<section class="tools__time">
  <span class="tools__time-value" ng-bind="obsTime.time"> </span>
  <span class="tools__time-unit"  ng-bind="tooltip.unit"> </span>
</section>

<section class="tools__time" ng-repeat="intersect in obsTime.intersections">
  <span class="tools__time-value" ng-bind="intersect.position.y"> </span>
  <span class="tools__time-unit"  ng-bind="intersect.key"> </span>
</section>
