<!-- <div class="upload-wrap">'

<button class="btn btn-primary" type="button"><span ng-if="!filename">Choose file</span><span ng-if="filename">Replace file</span></button>' +
<a ng-href="{{ filename  }}" target="_blank" class="" ng-if="filename" > Stored file </a>' +
<div class="progress progress-striped" ng-class="{active: uploading}" ng-show="attempt" style="margin-top: 10px">' +
<div class="bar" style="width: {{ progress }}%;" ng-class="barClass()"></div>' +
</div>' +
<input type="file" style="display: none"/>' +
</div>

-->
<!-- Header w/ title and action -->
<header class="upload__header upload-wrap">
  <h1 class="upload__title">Upload<span class="upload__info"> a <i>TDMS</i> or <i>CSV</i> file</span></h1>
   <div class="upload__header-actions">
      <button class="btn btn-primary upload__action">
        Choose File
      </button>
      <input type="file" style="display: none"/>
    </div>
</header>

<!-- Show null state if empty -->
<div class="upload__null"
      ng-if="uploads.length === 0">
      <span class="upload__prompt">Drag and Drop, or choose a file</span>
</div>

<!-- List of current uploads -->
<ul class="upload__list">
    <li class="upload__item" ng-repeat="upload in uploads track by $index">
      <span class="upload__name" ng-bind="upload.name"></span>
      
      <!-- Actions on chosen files -->
      <div class="upload__actions">
        
        <!-- File ready -->
        <div  class="upload__ready"
              ng-if="upload.status.upload === 'waiting'">
          <button class="upload__begin" 
                  ng-click="uploadItem(upload)">Upload
          </button>
        </div>
        
        <!-- File uploading -->
        <div  class="upload__uploading">
          <button class="upload__stop-upload"
                  ng-click="stopUpload(upload)"
                  ng-if="upload.status.upload === 'done' || upload.status.upload === 'canceled'">
          </button>
          <!-- Loading SVG -->
          <svg class="upload__loading" ng-if="upload.status.upload === 'uploading'" viewBox="0 0 65 4" >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="-49" transform="translate(-10.000000, -14.000000)" fill="#00A2CE">
                    <g transform="translate(10.000000, 14.000000)">
                        <rect id="Rectangle-23" fill-opacity="0.1" x="0" y="0" width="65" height="4"></rect>
                        <rect id="Rectangle-24" x="0" y="0" ng-attr-width="{{ upload.progress }}" height="4"></rect>
                    </g>
                </g>
            </g>
          </svg>
          <button class="upload__begin" 
                  ng-click="cancelUpload(upload)"
                  ng-if="upload.status.upload === 'uploading' || upload.status.upload === 'waiting'">Cancel
          </button>
        </div>
      </div>
    </li>
</ul>
  <!-- Upload All -->
  <button class="upload__finished" ng-click='uploadThemAll()' ng-show='uploads.length'>{{ uploadAll }}</button>