<div class="row">
    <div class="col-md-6">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="form-group">
            <label>Suggested Name</label>
            <input type="text" ng-model="chart.name" class="form-control"/>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" ng-click="confirm()">Confirm</a>
            <a class="btn btn-default" ui-sref="^">Cancel</a>
        </div>
    </div>
</div>