

<div class="ui one column row"  ng-app="sciviewApp">
  <div class="column">
    <div ng-controller="LoadDataController as loadDataCtrl">
      <h3>{{loadDataCtrl.params.series_1}}</h3>
        <div ng-repeat="series in seriesList">
          <h3>{{series.key}} Tags and Attributes</h3>
          <button type="button" class="btn btn-sm btn-primary" ng-click="">New</button>
          <span ng-repeat="tag in series.tags">
            <button type="button" class="btn btn-sm btn-default" ng-click="loadDataCtrl.removeTag(series, tag)">{{tag}}</button>
          </span>
          <span ng-repeat="(key, value) in series.attributes">
            <button type="button" class="btn btn-sm btn-default" ng-click="loadDataCtrl.removeAttribute(series, key)">{{key}}:{{value}}</button>
          </span>

          <add-metadata-form></add-metadata-form>
        </div>
    </div>
  </div>
</div>

<div class="ui one column row">
  <div class="column">
    <div id="series-metadata"></div>
  </div>
</div>

<div id="dialog-form" title="Add a tag or attribute">
  <div class="form-row">
    <label>Tag</label>
    <div class="metadata-info">Ex: <span class="info">humidity</span></div>
    <div class="metadata-error error" style="display: none;">The tag is invalid.</div>
    <input class="add-tag" type="text" id="dialog-tag" maxlength="255">
  </div>
  <h3 class="or">or</h3>
  <div class="form-row">
    <label>Attribute</label>
    <div class="metadata-info">Ex: <span class="info">thermostat: 1</span></div>
    <div class="metadata-error error" style="display: none;">The attribute is invalid.</div>
    <br>
    <input class="add-attribute add-attribute-key" type="text" id="dialog-key" maxlength="255">
    <span class="colon"> : </span>
    <input class="add-attribute add-attribute-value" type="text" id="dialog-value" maxlength="255">
  </div>
</div>
